services:
  rabbitmq:
    image: "rabbitmq:3-management"
    container_name: rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=user
      - RABBITMQ_DEFAULT_PASS=pass
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - golang
    # volumes:
    #   - "D:/rabbitmq/rabbitmq-data:/var/lib/rabbitmq"
    #   - "D:/rabbitmq/rabbitmq-log:/var/log/rabbitmq"
  postgres:
    image: postgres:17
    container_name: chatroom-db
    env_file:
      - .env.example
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - golang

networks:
  golang:

volumes:
  postgres_data:
